SPRING_APPLICATION_NAME=REPLACE_WITH_APPLICATION_NAME
SERVER_PORT=REPLACE_WITH_SERVER_PORT
SPRING_DATASOURCE_URL=jdbc:postgresql://REPLACE_WITH_POSTGRES_HOST:REPLACE_WITH_POSTGRES_PORT/REPLACE_WITH_DATABASE
SPRING_DATA_REDIS_HOST=REPLACE_WITH_REDIS_HOST
SPRING_DATA_REDIS_PORT=REPLACE_WITH_REDIS_PORT
PRISM_OLLAMA_BASE_URL=http://REPLACE_WITH_OLLAMA_HOST:REPLACE_WITH_OLLAMA_PORT
PRISM_OLLAMA_CHAT_MODEL=REPLACE_WITH_CHAT_MODEL
PRISM_OLLAMA_INTENT_MODEL=REPLACE_WITH_INTENT_MODEL
PRISM_OLLAMA_KEEP_ALIVE=REPLACE_WITH_KEEP_ALIVE
PRISM_OLLAMA_CHAT_TEMPERATURE=REPLACE_WITH_CHAT_TEMPERATURE
PRISM_OLLAMA_INTENT_TEMPERATURE=REPLACE_WITH_INTENT_TEMPERATURE
PRISM_EMBEDDING_TOKENIZER_RESOURCE=file:/models/tokenizer.json
PRISM_EMBEDDING_MODEL_RESOURCE=file:/models/embedding_model.onnx
PRISM_EMBEDDING_QUANTIZED_TOKENIZER_RESOURCE=file:/models/tokenizer.json
PRISM_EMBEDDING_QUANTIZED_MODEL_RESOURCE=file:/models/embedding_model.onnx
PRISM_DOC_STORAGE_PATH=/var/lib/prismai/documents